body {
  background-color: rgb(252,252,252);
}
h1 {
  background-color: rgb(169,235,99);
  color: white;
  font-family: sans-serif;
  font-style: italic;
  padding-top: 0.1rem;
  padding-left: 1rem;
  padding-bottom: 0.1rem;
}
nav {
  font-family: sans-serif;
}
h2 {
  color: rgb(30,30,30);
  font-family: sans-serif;
}
h3 {
  color: rgb(30,30,30);
  font-family: sans-serif;
}
p {
  color: rgb(60,60,60);
  font-family: sans-serif;
}
img {
  border-radius: 20px;
  margin-top: 10px;
}
a:link {
  color: rgb(30,30,30);
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: rgb(120,120,120);
  text-decoration: none;
}
a:hover {
  background-color: rgb(60,60,60);
  color: white;
  text-decoration: none;
}
a:active {
  color: white;
  text-decoration: underline;
}
figure {
  font-family: sans-serif;
}
footer {
  background-color: rgb(169,235,99);
  font-family: sans-serif;
  padding-top: 0.1rem;
  padding-left: 1rem;
  padding-bottom: 0.1rem;
}
